<h1>Bienvenidos a la Galería de Naturaleza y Paisajes</h1>
<p> En esta galería podrás encontrar una selección de imágenes de los paisajes más impresionantes y diversos de la naturaleza. Desde montañas majestuosas hasta costas bañadas por el sol, cada fotografía ha sido cuidadosamente seleccionada para transportar a los visitantes a lugares de increíble belleza natural.

Aquí podrás explorar desde la serenidad de los valles cubiertos de niebla hasta la vibrante energía de los bosques en flor. Nuestro objetivo es despertar en ti una sensación de asombro y conexión con el mundo natural que nos rodea.

Haz clic en cualquiera de las imágenes para ampliarlas y disfrutar de cada detalle. La experiencia de la naturaleza a través de estas fotografías es una invitación a detenernos por un momento, respirar profundamente y maravillarnos con el esplendor de la Tierra.

¿Qué encontrarás en esta galería?
Paisajes Montañosos: Captura la grandeza de las cumbres más altas y nevadas del planeta.
Atardeceres de Ensueño: Sumérgete en los cálidos colores del ocaso en distintos rincones del mundo.
Selvas y Bosques: Descubre la biodiversidad y el esplendor verde de los bosques en su máximo esplendor.
Costas y Playas: Relájate con vistas de playas desiertas y mares cristalinos que se extienden hasta el horizonte.</p>
<%= link_to 'Volver a la galeria', homes_index_path %>